<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429491295706-ri0h243b4cv5et03nsmu3r4jhhlcqcet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429491295706-ri0h243b4cv5et03nsmu3r4jhhlcqcet</string>
	<key>API_KEY</key>
	<string>AIzaSyBtLDx-0_bNd1xLk3ItBV6u1YoKRYrPzgE</string>
	<key>GCM_SENDER_ID</key>
	<string>429491295706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Niwei-Li.LoginEmail</string>
	<key>PROJECT_ID</key>
	<string>emailpaogin-f77da</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpaogin-f77da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429491295706:ios:719881ca3da6b1cafddce3</string>
</dict>
</plist>